@font-face {
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    src: "fonts.google.com";
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #2B818E;
    color: #F4A15D;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto Condensed", monospace;
    text-align: center;
    font-size: 60px;
}
nav li {
    display: inline;
}
nav a{
    cursor: pointer;
    font-size: 20px;
}
body {
    margin: 0 5%;
}

section {
    background-color: #163D57;
    border: 1px solid #0C2231;
    border-radius: 15px;
}

h2 {
    margin-left: 2%;
    font-size: 40px;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

h2,
h3,
.p,
.colors,
.text-styles li {
    font-family: "Cabin",monospace;
}

.color-block {
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    min-height: 100px;
    width: 200px;
    text-align: center;
    margin: 20px 15px;
    font-size: 20px;
    position: relative;
}

.title {
    font-weight: bold;
}

.seafoam {
    background-color: #2B818E;
    margin-left: 20px;
}

.peach {
    background-color: #F4A15D;
}

.anchor {
    background-color: #163D57;
}

.navy {
    background-color: #0C2231;
}

.show-font {
    display: inline-block;
    position: relative;
    border: 1px dotted transparent;
    height: 420px;
    width: 320px;
    margin: 20px 20px;
    font-size: 22px;
}

.bold{
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', monospace;
}

.cabin {
    font-family: 'Cabin',monospace;
}

.monospace {
    font-family: monospace;
}

.text-styles li {
    font-size: 18px;
    margin-left: 3%;
}

.H {
    font-size: 60px;
    font-family: 'Roboto Condensed', monospace;
    margin-left: 2%;
}

.p {
    margin-left: 2%;
}